div.component-aria-radio-group(
	data-name="aria-radio-group"
	data-value="aria-radio-group-value"
	role="radiogroup"
	)
	div.radio-container(
		aria-checked="true"
		aria-describedby="disclosure-aria-radio"
		role="radio"
		tabindex="0"
		)
		span.radio
		span.label aria radio

	div.radio-container(
		aria-checked="false"
		aria-describedby="disclosure-aria-radio"
		role="radio"
		tabindex="-1"
		)
		span.radio
		span.label aria radio

	div.radio-container(
		aria-checked="false"
		aria-describedby="disclosure-aria-radio"
		role="radio"
		tabindex="-1"
		)
		span.radio
		span.label aria radio

	//- disclosure
	div.disclosure.hidden#disclosure-aria-radio div.disclosure

	//- need a method of submitting value
	input(
		name="aria-radio-group"
		type="hidden"
		value="aria-radio-group-value")