div.component-aria-listbox
	div.label-container
		span.label aria-created select. button + listbox
	div.input-container
		button(
			aria-controls="aria-select-listbox"
			aria-describedby="disclosure-aria-listbox"
			aria-expanded="true"
			data-display="aria-listbox-value"
			data-name="aria-listbox"
			tabindex="0"
			) default
		div.options(
			id="aria-select-listbox"
			role="listbox"
			)
			div.option(
				aria-selected="true"
				role="option"
				tabindex="0"
				) default
			div.option(role="option") option 1
			div.option(role="option") option 2
			div.option(role="option") option 3
			div.option(role="option") option 4
			div.option(role="option") option 5
			div.option(role="option") option 6

	div.component-disclosure
		span.disclosure-triangle(aria-hidden="true")
		div.disclosure#disclosure-listbox div.disclosure

	//- need a method of submitting value
	input(
		name="aria-listbox"
		type="hidden"
		value="aria-listbox-value")