//- incomplete html. listbox currently has no selection.

div.component-aria-listbox
	div.label-container
		span.label aria listbox
	div.input-container
		div.listbox(
			aria-describedby="disclosure-aria-listbox"
			data-display="aria-listbox-value"
			data-name="aria-listbox"
			role="listbox"
			tabindex="0"
			) default
			div.option(
				aria-checked="true"
				role="option"
				) default
			div.option(role="option") option 1
			div.option(role="option") option 2
			div.option(role="option") option 3
			div.option(role="option") option 4
			div.option(role="option") option 5
			div.option(role="option") option 6
			div.option(role="option") option 7
			div.option(role="option") option 8
			div.option(role="option") option 9
			div.option(role="option") option 10
			div.option(role="option") option 11
			div.option(role="option") option 12
			div.option(role="option") option 13
			div.option(role="option") option 14
			div.option(role="option") option 15

	div.disclosure.hidden#disclosure-listbox div.disclosure

	//- need a method of submitting value
	input(
		name="aria-listbox"
		type="hidden"
		value="aria-listbox-value")