div.component-input-field
	div.label-container
		label.label(for="input") label
		button.button.button-tooltip(role="button") info
	div.input-container
		input.input(
			id="input"
			type="text"
			name="text"
			aria-describedby="disclosure"
			placeholder="input"
			)
		button.button.button-extra-feature(role="button") button
	div.error-message#error-message div.error-message
	div.disclosure#disclosure div.disclosure