div.component-native-checkbox-group
	fieldset
		legend Native Checkbox Group

		div.native-checkbox
			input(
				id="native-checkbox-1"
				type="checkbox"
				name="native-checkbox-1"
				aria-describedby="disclosure-native-checkbox-group"
				)
			span.label-container
				label(for="native-checkbox-1") Checkbox 1


		div.native-checkbox
			input(
				id="native-checkbox-2"
				type="checkbox"
				name="native-checkbox-2"
				aria-describedby="disclosure-native-checkbox-group"
				)
			span.label-container
				label(for="native-checkbox-2") Checkbox 2


		div.native-checkbox
			input(
				id="native-checkbox-3"
				type="checkbox"
				name="native-checkbox-3"
				aria-describedby="disclosure-native-checkbox-group"
				)
			span.label-container
				label(for="native-checkbox-3") Checkbox 3


		div.native-checkbox
			input(
				id="native-checkbox-4"
				type="checkbox"
				name="native-checkbox-4"
				aria-describedby="disclosure-native-checkbox-group"
				)
			span.label-container
				label(for="native-checkbox-4") Checkbox 4

	div.disclosure.hidden#disclosure-native-checkbox-group div.disclosure