div.component-native-radio-group
	fieldset
		legend Native Radio Button Group

		div.native-radio
			input(
				id="native-radio-button-1"
				type="radio"
				name="native-radio-group"
				aria-describedby="disclosure-native-radio-button-group"
				)
			span.label-container
				label(for="native-radio-button-1") Radio button 1


		div.native-radio
			input(
				id="native-radio-button-2"
				type="radio"
				name="native-radio-group"
				aria-describedby="disclosure-native-radio-button-group"
				)
			span.label-container
				label(for="native-radio-button-2") Radio button 2


		div.native-radio
			input(
				id="native-radio-button-3"
				type="radio"
				name="native-radio-group"
				aria-describedby="disclosure-native-radio-button-group"
				)
			span.label-container
				label(for="native-radio-button-3") Radio button 3


		div.native-radio
			input(
				id="native-radio-button-4"
				type="radio"
				name="native-radio-group"
				aria-describedby="disclosure-native-radio-button-group"
				)
			span.label-container
				label(for="native-radio-button-4") Radio button 4

	div.disclosure.hidden#disclosure-native-radio-button-group div.disclosure