div.field
	div.label_container
		label.label(for="range") range
	div.input_container
		input.range(
			id="range"
			name="range"
			max="100"
			min="1"
			type="range"
			aria-describedby="disclosure_range"
			)
	div.disclosure.hidden#disclosure_range div.disclosure