div.field
	fieldset
		legend Checkbox Group

		div.input_container
			input.checkbox(
				id="checkbox_1"
				type="checkbox"
				name="checkbox_1"
				aria-describedby="disclosure_checkbox_group"
				)
			span.label_container
				label.label(for="checkbox_1") checkbox 1


		div.input_container
			input.checkbox(
				id="checkbox_2"
				type="checkbox"
				name="checkbox_2"
				aria-describedby="disclosure_checkbox_group"
				)
			span.label_container
				label.label(for="checkbox_2") checkbox 2


		div.input_container
			input.checkbox(
				id="checkbox_3"
				type="checkbox"
				name="checkbox_3"
				aria-describedby="disclosure_checkbox_group"
				)
			span.label_container
				label.label(for="checkbox_3") checkbox 3


		div.input_container
			input.checkbox(
				id="checkbox_4"
				type="checkbox"
				name="checkbox_4"
				aria-describedby="disclosure_checkbox_group"
				)
			span.label_container
				label.label(for="checkbox_4") checkbox 4

	div.disclosure.hidden#disclosure_checkbox_group div.disclosure