div.field
	fieldset
		legend Radio Button Group

		div.radio_container
			input.radio(
				id="radio_button_1"
				type="radio"
				name="radio_group"
				aria-describedby="disclosure_radio_button_group"
				)
			span.label_container
				label.label(for="radio_button_1") Radio button 1


		div.radio_container
			input.radio(
				id="radio_button_2"
				type="radio"
				name="radio_group"
				aria-describedby="disclosure_radio_button_group"
				)
			span.label_container
				label.label(for="radio_button_2") Radio button 2


		div.radio_container
			input.radio(
				id="radio_button_3"
				type="radio"
				name="radio_group"
				aria-describedby="disclosure_radio_button_group"
				)
			span.label_container
				label.label(for="radio_button_3") Radio button 3


		div.radio_container
			input.radio(
				id="radio_button_4"
				type="radio"
				name="radio_group"
				aria-describedby="disclosure_radio_button_group"
				)
			span.label_container
				label.label(for="radio_button_4") Radio button 4

	div.disclosure.hidden#disclosure_radio_button_group div.disclosure