div.field_container
	div.label_container
		label.label(for="input") label
		button.button.button_tooltip info
	div.input_container
		input.input(
			id="input"
			type="text"
			name="text"
			aria-describedby="disclosure"
			placeholder="input"
			)
		button.button.button_extra_feature button
	div.error_message#error_message div.error_message
	div.disclosure#disclosure div.disclosure