div.field
	div.label_container
		label.label(for="flipswitch") flipswitch
	div.input_container
		input.flipswitch(
			id="flipswitch"
			name="flipswitch"
			max="1"
			min="0"
			type="range"
			aria-describedby="disclosure_flipswitch"
			)
	div.disclosure.hidden#disclosure_flipswitch div.disclosure