div.field
	div.label_container
		label.label(for="ratings") Ratings
	div.input_container
		input.ratings(
			id="ratings"
			name="ratings"
			max="5"
			min="0"
			type="range"
			aria-describedby="disclosure_ratings"
			)
	div.disclosure.hidden#disclosure_ratings div.disclosure