div.component-ratings
	div.label-container
		label.label(for="ratings") Ratings
	div.input-container
		input.input(
			id="ratings"
			name="ratings"
			max="5"
			min="0"
			type="range"
			aria-describedby="disclosure-ratings"
			)
	div.disclosure.hidden#disclosure-ratings div.disclosure